.advanced {

	@media (min-width: $screen-sm) {
		display: table;
	}

	&__num-wrap {
		font-size: 4.8rem;
		line-height: 1.4583333em;
		font-weight: bold;
		text-align: center;
		cursor: default;

		@media (min-width: $screen-sm) {
			display: table-cell;
			vertical-align: middle;
		}
	}

	&__num {
		display: inline-block;
		background-color: $color-brend;
		color: $color-bright;
		border-radius: 50%;
		width: 1.4583333em;
		margin: 20px 0 10px;

		@media (min-width: $screen-sm) {
			margin: 25px .5em 25px 0;
		}

		@media (min-width: $screen-xl) {
			margin: 40px .5em 40px 0;
		}
	}

	&__text {
		font-size: 2rem;
		text-align: justify;
		margin: 0;

		@media (min-width: $screen-sm) {
			display: table-cell;
			vertical-align: middle;
		}

		@media (min-width: $screen-xl) {
			font-size: 2.4rem;
		}
	}

	&_sm {

		.advanced {

			&__num-wrap {
				font-size: 2.8rem;
			}

			&__num {
				background-color: $color-dark;
				margin: 20px 0 10px;

				@media (min-width: $screen-sm) {
					margin: 25px 1em 25px 0;
				}

				@media (min-width: $screen-xl) {
					margin: 40px 1em 40px 0;
				}
			}

			&__text {
				font-size: 1.8rem;
				line-height: 1.4em;
				padding-bottom: 10px;
			}
		}

	}
}