.section {

	&_main {
		background: url('/img/collage.jpg') 50% 50%;
		background-size: cover;

		@media (min-width: $screen-md) {
			padding-top: $header-height;
			background-clip: content-box;
			background-origin: content-box;
		}
	}

	&__title {
		margin-bottom: 30px;

		@media (min-width: $screen-md) {
			margin-top: 50px;
		}
	}

	&__subtitle {
		font-size: 3.5rem;
		color: $color-bright;
		text-transform: uppercase;
		text-align: center;
		filter: drop-shadow(0 0 50px black);
		//text-shadow: 0 0 130px black;
		margin-bottom: 40px;
	}

	&__row {
		padding-bottom: 110px;
	}

	&__video-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		padding-bottom: 56%;
	}

	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}