// Нужно указать высоту с шириной
.soc {
	display: inline-block;
	position: relative;
	overflow: hidden;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&__item {
		color: $color-bright;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-55%);
	}
	
	&_vk {
		background-color: $color-vk;
		font-size: 7.6rem;

		@media (min-width: $screen-lg) {
			font-size: 9.6rem;
		}
	}

	&_mail {
		background-color: $color-brend;
		font-weight: bold;
		font-family: $font-third;
		font-size: 9.6rem;

		@media (min-width: $screen-lg) {
			font-size: 12.6rem;
		}
	}
}