<!-- FOOTER -->
<footer class="footer">

	<div class="footer__top">
		<div class="container">
			<div class="form-row">
				<h2 class="form-row__title">Присоединяйся к числу по-настоящему успешных парней!</h2>
				<div class="row flex-items-md-center">
					<div class="col-md-5 col-lg-4">
						<input type="text" class="input form-row__input" placeholder="ВВЕДИТЕ ИМЯ">
					</div>
					<div class="col-md-5 col-lg-4">
						<input type="text" class="input form-row__input" placeholder="ВВЕДИТЕ E-MAIL">
					</div>
					<div class="col-md-10 col-lg-4">
						<input type="submit" class="btn" value="Получить доступ к видео">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		<div class="container">
			<p class="footer__copyright">© Артур Возняк, проект «Мужской Выбор», 2016г.</p>
		</div>
	</div>
</footer>