.owl {
	padding-bottom: 50px;
	background: linear-gradient(to top, $color-lightgray, white);

	&__dots {
		position: absolute;
		bottom: 5px;
		height: 40px;
		width: 100%;
		padding: 0 50px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media (min-width: $screen-md) {
			display: block;
			bottom: 15px;
			height: auto;
		}
	}

	&__dot {
		width: 15px;
		height: 15px;
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin-right: 15px;
		border: 2px solid $color-brend;
		border-radius: 50%;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: $duration / 2 ease-in all;

		}

		&:last-child {
			margin-right: 0;
		}

		&.active,
		&:hover {

			&::after {
				background-color: $color-brend;
			}
		}
	}

	.owl-prev,
	.owl-next {
		border: 15px solid $color-brend;
		border-top-color: transparent;
		border-bottom-color: transparent;
		height: 0;
		width: 0;
		display: inline-block;
		position: absolute;
		transition: $duration / 2 ease-in all;
		bottom: 10px;
		z-index: 10;

		@media (min-width: $screen-sm) {
			border-width: 40px;
			bottom: 50%;
			transform: translateY(50%);
		}
	}

	.owl-prev {
		border-right-width: 25px;
		border-left: none;
		left: 15px;

		@media (min-width: $screen-sm) {
			border-right-width: 25px;
			border-right-color: $color-lightgray;
			left: -33px;
		}

		&:hover {
			border-right-color: $color-dark-brend;

			@media (min-width: $screen-md) {
				border-right-color: $color-gray;
			}
		}
	}

	.owl-next {
		border-left-width: 25px;
		border-right: none;
		right: 15px;

		@media (min-width: $screen-sm) {
			border-left-width: 25px;
			border-left-color: $color-lightgray;
			right: -33px;
		}

		&:hover {
			border-left-color: $color-dark-brend;

			@media (min-width: $screen-md) {
				border-left-color: $color-gray;
			}
		}
	}
}