html {
	font-size: 8px;
	height: 100%;

	@media (min-width: $screen-lg) {
		font-size: 9px;
	}

	@media (min-width: $screen-xl) {
		font-size: 10px;
	}
}

body {
	font-family: $font-main;
	font-size: 2.4rem;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row {
	display: block;

	@media (min-width: $screen-md) {
		display: flex;
	}
}