$color-bright:     white;   // #fefefe
$color-dark:       #282828; // black #010101 #333
$color-darkgray:   #5c5c5c;
$color-gray:       #858585; //#666 #9d9d9d #999
$color-lightgray:  #c6c6c6;
$color-brend:      #f30;    // #fe0000
$color-dark-brend: #c00;
$color-pink:       #eb9999;

$color-vk:         #45668e;

$font-main:   'CenturyGothic', 'Arial', sans-serif;
$font-second: 'MyriadProRegular', 'Arial', sans-serif;
$font-third:  'Calibri', 'Arial', sans-serif;

$screen-sm: 776px;
$screen-md: 968px;
$screen-lg: 1192px;
$screen-xl: 1400px;

$duration: .5s;

$header-height-lg: 60px;
$header-height: 80px;

%mobile-full {
	padding-left: 0;
	padding-right: 0;

	@media (min-width: $screen-sm) {
		padding-left: 15px;
		padding-right: 15px;
	}
}